version: "3.9"

volumes:
  pgdata:
  static_volume:
networks:
  nginx_network:
    driver: bridge
  postgres_network:
    driver: bridge
  dev_network:
    driver: bridge

services:

  postgres_sql:
    container_name: postgres_sql
    build:
      dockerfile: DockerfileDB
    #    env_file:
    #      - ./.envDB
    restart: unless-stopped
    command: -p 5433
    expose:
      - "5433"
    ports:
      - "5433:5433"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - postgres_network

  nginx:
    container_name: nginx
    build: ./nginx
    restart: unless-stopped
    ports:
      - "1333:80"
    depends_on:
      - web
    networks:
      - nginx_network
    volumes:
      - static_volume:/app/staticfiles/

  redis:
    container_name: redis
    image: redis:7.0.0-alpine3.15
    ports:
      - "6379:6379"
    networks:
      - dev_network

  celery:
    container_name: celery
    build:
      context: .
      dockerfile: Dockerfile.celery
    command: sh -c "celery -A netology_pd_diplom worker -l INFO --pool=solo --concurrency=10 -n worker1@localhost"
    environment:
      CELERY_BROKER: "redis://redis:6379/1"
      CELERY_BACKEND: "redis://redis:6379/2"
    depends_on:
      - postgres_sql
      - redis
      - web
    restart: always
    networks:
      - dev_network
    env_file:
      - ./.env
    links:
      - redis

  web:
    container_name: diplom
    build:
      dockerfile: Dockerfile
    restart: unless-stopped
    command: sh -c "python3 ./manage.py migrate && python3 ./manage.py createsuperuser --username admin --email sergey_r.o@mail.ru --password 123456789 && python3 ./manage.py collectstatic && gunicorn netology_pd_diplom.wsgi:application --bind 0.0.0.0:8000 --workers=4"
    expose:
      - "8000"
    depends_on:
      - redis
      - postgres_sql
    networks:
      - nginx_network
      - postgres_network
      - dev_network
    env_file:
      - ./.env
    volumes:
      - static_volume:/app/staticfiles/
