version: "3.9"

volumes:
  pgdata:
  static_volume:
networks:
  nginx_network:
    driver: bridge
  postgres_network:
    driver: bridge

services:

  postgres_sql:
    container_name: postgres_sql
    build:
      dockerfile: DockerfileDB
    #    env_file:
    #      - ./.envDB
    restart: unless-stopped
    command: -p 5433
    expose:
      - "5433"
    ports:
      - "5433:5433"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - postgres_network

  nginx:
    container_name: nginx
    build: ./nginx
    restart: unless-stopped
    ports:
      - 1333:80
    depends_on:
      - diplom
    networks:
      - nginx_network
    volumes:
      - static_volume:/app/staticfiles/

  diplom:
    container_name: diplom
    build:
      dockerfile: Dockerfile
    restart: unless-stopped
    command: sh -c "python3 ./manage.py migrate && python3 ./manage.py collectstatic && gunicorn netology_pd_diplom.wsgi:application --bind 0.0.0.0:8000 --workers=4"
    ports:
      - "8000:8000"
    depends_on:
      - postgres_sql
    networks:
      - nginx_network
      - postgres_network
    env_file:
      - ./.env
    volumes:
      - static_volume:/app/staticfiles/
